<ul class="nav nav-pills nav-stacked">
<h1 id="logoText">LabTop</h1><img id="logoBarImage"src="http://www.clker.com/cliparts/5/d/4/4/12379163061121313240papapishu_Lab_icon_3.svg.med.png">

  <% if user_signed_in? %>
             <li><%= link_to "Tests",    '/' %></li>
             <p> </p> 
             <li><%= link_to "Profile", '/users/edit' %></li>
             <p> </p> 
             <li><%= link_to "Signout", destroy_user_session_path, :method => :delete %></li>
             <p> </p> 
             <% else %>
              <li> <%= link_to "Sign up", new_user_registration_path %> </li>
              <li> <%= link_to "Sign in", new_user_session_path %> </li>
              <% end %>
</ul>
