<!DOCTYPE html>
<html>
<head>
  <title>AngularRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>


</head>
<body>
  <%= render 'layouts/header' %>
  <div id="user_nav">
    <% if user_signed_in? %>	
     <!--  Signed in as <%= current_user.email %>. Not you?  
      <%= link_to "   Sign out", destroy_user_session_path, :method => :delete %> -->
      <div style = "background-color: #7FDBFF;" ng-app = 'AngularRails'>
        <%= yield %>
      </div>
     <% else %>
      <!--  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> -->
      <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10151385_10203593263297900_1626016852_n.jpg?oh=c24a794cf4da804d1bf2592b514d78d6&oe=5455FECC&__gda__=1412711663_e6e43958fd23489f48c9a8b471a95725">
       <%= yield %>
     <% end %>
  </div>
  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

</body>
</html>