<!DOCTYPE html>
<html>
<head>
  <title>AngularRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<!-- <link href="app/assets/stylesheets/flipclock.css" rel="stylesheet" type="text/css"> --></head>
<body>
  <%= render 'layouts/header' %>
   <%= render 'layouts/messages' %>
  <div id="user_nav">
    <% if user_signed_in? %>	

     <!--  Signed in as <%= current_user.email %>. Not you?  
      <%= link_to "   Sign out", destroy_user_session_path, :method => :delete %> -->
      <div ng-app = 'AngularRails'>
        <%= yield %>
      </div>
     <% else %>
      <!--  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> -->
      
       <%= yield %>
     <% end %>
  </div>

</body>
</html>